{% extends "blog/base.html" %}
{% block content %}
<div class="sobre">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="main_title">¿Que es Mobike Blog?</h1>

    <h5 class="main_txt">
        Mobike Blog es nuestra aplicación secundaria a Mobike que permite a usuarios compartir información relevante dentro del 
        contexto que define a Mobike: un servicio de uso compartido de bicicletas que busca apuntar hacia tener una opción ecológica, 
        que ayude a descongestionar el tránsito y busca continuamente mejorar la calidad de vida en la ciudad.</h5>
</div>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock content %}
